@using DateTimeExtensions
@using ServiceGateways.Entities
@model Fravaer_WebApp_Client.Models.UserIndexViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Styles/IndexSyleSheet.css" rel="stylesheet" type="text/css" />
</head>


<body>

<div class="CheckboxRow col-md-2">
    <h3>Afdelinger:</h3>
    @foreach (var item in Model.Departments)
    {
        <div>
            @if (item.Id == 1 && item.Users.Any())
            {
                <input class="Checkbox" type="checkbox" checked="checked"/>
                @Html.DisplayFor(modelItem => item.Name)
            }
            @if (item.Id != 1)
            {
                <input class="Checkbox" type="checkbox" checked="checked"/>
                @Html.DisplayFor(modelItem => item.Name)
            }
        </div>
    }
</div>
    <div class="col-md-10" style="text-align: center">
        <div class="col-md-4" align="right">
            <a class="btn btn-success" href='@Url.Action("Index", "Users", new RouteValueDictionary(new {monthTime = Model.MonthDateTime.AddMonths(-1)}))'>Forrige</a>
        </div>
        <div class="col-md-2">
            <h3>@Model.MonthDateTime.ToString("yyyy MMMM")</h3>
        </div>
        <div class="col-md-4" align="left">
            <a class="btn btn-success" href='@Url.Action("Index", "Users", new RouteValueDictionary(new {monthTime = Model.MonthDateTime.AddMonths(1)}))'>Næste</a>
        </div>
    </div>
<div class="col-md-8" >
    
    <div class="col-md-3">
        <table class="UserNameTable">
            <tr><th>Afdelinger</th></tr>
            @foreach (var dep in Model.Departments)
            {
                if (dep.Users.Any())
                {
                    <tr><th>@dep.Name</th></tr>
                    foreach (var use in dep.Users)
                    {
                        <tr>
                            <td class="UserNameTableBox">
                                <p>
                                    @Html.ActionLink(@use.FirstName + " " + use.LastName, "Details", new {id = use.Id}, new
                                    {
                                        style = "color: black"
                                    })
                                </p>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
    <div class="Calendar col-md-9">
        <table>

            @for (int i = 0; i < @Model.MonthDateTime.LastDayOfTheMonth().Day; i++)
            {
                <th>@(i + 1)</th>
            }
            <tbody>
            @foreach (var department in Model.Departments)
            {
                if (department.Users.Any())
                {
                    <th>P</th>
                    foreach (var user in department.Users)
                    {
                        <tr>
                            @for (int k = 1; k < @Model.MonthDateTime.LastDayOfTheMonth().Day + 1; k++)
                            {
                                if (@GetAbsenceForDate(k, user) != null)
                                {
                                    <td class="AbsenceTableBox">
                                        <p>@GetAbsenceForDate(k, user).Status</p>
                                    </td>
                                }
                                else
                                {
                                    <td class="EmptyAbsenceTableBox"></td>
                                }
                            }
                        </tr>

                    }
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>

<div class="btn btn-success">
    @Html.ActionLink("Afdelinger", "Index", "Departments", null, new
    {
        style = "text-decoration:none; color:white;"
    })
</div>
<div class="btn btn-success">
    @Html.ActionLink("Ny Bruger", "Create", "Users", null, new
    {
        style = "text-decoration:none; color:white;"
    })
</div>
</body>

@functions
    {

    public Absence GetAbsenceForDate(int day, User user)
    {
        DateTime eventDate = new DateTime(@Model.MonthDateTime.Year, @Model.MonthDateTime.Month, day);
        return user.Absences.FirstOrDefault(x => x.Date == eventDate);
    }
}
