@using System.Web.UI.WebControls
@using DateTimeExtensions
@using ServiceGateways.Entities
@model Fravaer_WebApp_Client.Models.UserIndexViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Styles/IndexSyleSheet.css" rel="stylesheet" type="text/css" />

</head>


<body>

<div class="CheckboxRow col-md-2">
    <h3>Medarbejdere:</h3>
    @foreach (var item in Model.Departments)
    {
        <div>
            <input class="Checkbox" type="checkbox" checked="checked"/>

            @Html.DisplayFor(modelItem => item.Name)
        </div>
    }
</div>
<div class="col-md-8" style="height: 100%">
    <div class="col-md-3">
        <table class="UserNameTable">
            <tr><th>Navne</th></tr>
            @foreach (var dep in Model.Departments)
            {
                foreach (var use in dep.Users)
                {
                    <tr>
                        <td class="UserNameTableBox">
                            <p>@use.FirstName @use.LastName</p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="Calendar col-md-9">
        <table>
            @for (int i = 0; i < @Model.MonthDateTime.LastDayOfTheMonth().Day; i++)
            {
                <th>@(i + 1)</th>
            }
            <tbody>
            @foreach (var department in Model.Departments)
            {
                foreach (var user in department.Users)
                {
                    <tr>
                        @for (int k = 1; k < @Model.MonthDateTime.LastDayOfTheMonth().Day + 1; k++)
                        {
                            if (@GetAbsenceForDate(k, user) != null)
                            {
                                <td class="AbsenceTableBox">
                                    <p>@GetAbsenceForDate(k, user).Status</p>
                                </td>
                            }
                            else
                            {
                                <td class="EmptyAbsenceTableBox"></td>
                            }
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <hr class="between"/>
    <hr class="between"/>
    <hr class="between"/>
    <hr class="between"/>
    <hr class="between"/>
    <hr class="between"/>
    <hr class="between"/><hr class="between"/>
    <hr class="between" />
</div>

    <div class="Override col-md-2">
        <table class="OverrideTable">
            <h3>Overstyring</h3>
            <tr>
                <input class="Checkbox" type="checkbox" />Tillad Overstyring
            </tr>
        </table>

        <h3>Fraværskoder:</h3>
        <input type="radio" name="absenceType"> S - Syg<br />
        <input type="radio" name="absenceType"> HS - ½ygedag<br />
        <input type="radio" name="absenceType"> F - Ferie<br />
        <input type="radio" name="absenceType"> HF - ½feriedag<br />
        <input type="radio" name="absenceType"> FF - Feriefridag<br />
        <input type="radio" name="absenceType"> HFF - ½Feriefridag<br />
        <input type="radio" name="absenceType"> K - Kursus<br />
        <input type="radio" name="absenceType"> B - Barsel<br />
        <input type="radio" name="absenceType"> BS - Barn 1. sygedag<br />
        <input type="radio" name="absenceType"> AF - Andet fravær<br />
        <input type="radio" name="absenceType"> A - Afspadsering<br />
        <input type="radio" name="absenceType"> HA - ½afspadsering<br />
        <input type="radio" name="absenceType"> SN - Seniordag<br />

    </div>
</body>

@functions
    {

    public Absence GetAbsenceForDate(int day, User user)
    {
        DateTime eventDate = new DateTime(@Model.MonthDateTime.Year, @Model.MonthDateTime.Month, day);
        return user.Absences.FirstOrDefault(x => x.Date == eventDate);
    }
}
