@using DateTimeExtensions
@using BusinessLogic.Managers
@using ServiceGateways.Entities
@model Fravaer_WebApp_Client.Models.UserIndexViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Styles/IndexSyleSheet.css" rel="stylesheet" type="text/css" />
</head>


<body>
    @{ User currentUser = (User)HttpContext.Current.Session["currentUser"];}
    <div class="Container col-xs-12">

        @*<div class="CheckboxRow col-md-2">
                <h3>Afdelinger:</h3>
                @foreach (var item in Model.Departments)
                {
                    <div>
                        @if (item.Id == 1 && item.Users.Any())
                    {
                            <input class="Checkbox" type="checkbox" checked="checked" />
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                        @if (item.Id != 1)
                    {
                            <input class="Checkbox" type="checkbox" checked="checked" />
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                    </div>
                }
            </div>*@
        <div class="col-xs-2"></div>
        <div class="CalenderContainer col-md-8" style="text-align: center">
            <div class="col-xs-12">
                <h2 align="center">-Kalender-</h2>
            </div>
            <div class="col-xs-12" style="height: 55px;">
                <div class="col-md-4" align="right">
                    <a class="btn btn-success" href='@Url.Action("Index", "Users", new RouteValueDictionary(new {monthTime = Model.MonthDateTime.AddMonths(-1)}))'>Forrige</a>
                </div>
                <div class="col-md-4">
                    <h3>@Model.MonthDateTime.ToString("yyyy MMMM")</h3>
                </div>
                <div class="col-md-4" align="left">
                    <a class="btn btn-success" href='@Url.Action("Index", "Users", new RouteValueDictionary(new {monthTime = Model.MonthDateTime.AddMonths(1)}))'>Næste</a>
                </div>
            </div>

            <div class="col-xs-12" style="height: 500px">
                <div class="col-md-2">
                    <table class="UserNameTable">
                        <tr><th class="DeppartHeader">Afdelinger</th></tr>
                        @foreach (var dep in Model.Departments)
                        {
                            if (dep.Users.Any())
                            {
                                <tr><th class="DeppartHeader">@dep.Name</th></tr>
                                foreach (var user in dep.Users)
                                {
                                    if (IsPowerOfTwo(dep.Users.IndexOf(user) + 1))
                                    {
                                        <tr>
                                            <td class="UserNameTableBox" style="background-color: lightslategray">
                                                <p>
                                                    @Html.ActionLink(@user.FirstName + " " + user.LastName, "Details", new { id = user.Id }, new
                                           {
                                               style = "color: black"
                                           })
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="UserNameTableBox" style="background-color: lightgray">
                                                <p>
                                                    @Html.ActionLink(@user.FirstName + " " + user.LastName, "Details", new { id = user.Id }, new
                                               {
                                                   style = "color: black"
                                               })
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </table>
                </div>
                <div class="Calendar col-md-10">
                    <table>

                        @for (int i = 0; i < @Model.MonthDateTime.LastDayOfTheMonth().Day; i++)
                        {
                            <th>@(i + 1)</th>
                        }
                        <tbody>
                            @foreach (var department in Model.Departments)
                            {
                                if (department.Users.Any())
                                {
                                    for (int j = 1; j <= @Model.MonthDateTime.LastDayOfTheMonth().Day; j++)
                                    {
                                    <td class="Kappa"></td>
                                    }

                                    foreach (var user in department.Users)
                                    {
                                        if (IsPowerOfTwo(department.Users.IndexOf(user) + 1))
                                        {
                                            <tr>
                                                @for (int k = 1; k <= @Model.MonthDateTime.LastDayOfTheMonth().Day; k++)
                                                {
                                                    if (GetDateTimeByDay(k).DayOfWeek.ToString().Equals("Saturday") || GetDateTimeByDay(k).DayOfWeek.ToString().Equals("Sunday"))
                                                    {
                                                        <td class="WeekEnd"></td>
                                                    }
                                                    else if (GetAbsenceForDate(k, user) != null && GetAbsenceForDate(k, user).Status.Equals(Statuses.GRAY))
                                                    {
                                                        <td class="WeekEnd"></td>
                                                    }
                                                    else if (@GetAbsenceForDate(k, user) != null)
                                                    {

                                                        <td class="AbsenceTableBox">
                                                            <p>@GetAbsenceForDate(k, user).Status</p>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="SecondEmptyAbsenceTableBox" style="background-color: lightslategray"></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @for (int k = 1; k <= @Model.MonthDateTime.LastDayOfTheMonth().Day; k++)
                                                {
                                                    if (GetDateTimeByDay(k).DayOfWeek.ToString().Equals("Saturday") || GetDateTimeByDay(k).DayOfWeek.ToString().Equals("Sunday"))
                                                    {
                                                        <td class="WeekEnd"></td>
                                                    }
                                                    else if (GetAbsenceForDate(k, user) != null && GetAbsenceForDate(k, user).Status.Equals(Statuses.GRAY))
                                                    {
                                                        <td class="WeekEnd"></td>
                                                    }
                                                    else if (@GetAbsenceForDate(k, user) != null)
                                                    {

                                                        <td class="AbsenceTableBox">
                                                            <p>@GetAbsenceForDate(k, user).Status</p>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="EmptyAbsenceTableBox" style="background-color: lightgray"></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            @if (currentUser.Role == Role.Administrator)
            {
                <div class="btn btn-success">
                    @Html.ActionLink("Afdelinger", "Index", "Departments", null, new
                    {
                        style = "text-decoration:none; color:white;"
                    })
                </div>
                <div class="btn btn-success">
                    @Html.ActionLink("Ny Bruger", "Create", "Users", null, new
                    {
                        style = "text-decoration:none; color:white;"
                    })
                </div>
            <div class="btn btn-success">
                @Html.ActionLink("Email Notifikation", "EmailNotification", "Users", null, new
                {
                style = "text-decoration:none; color:white;"
                })
            </div>
            }
            </div>
        </div>
    </body>

    @functions
    {

        public Absence GetAbsenceForDate(int day, User user)
        {
            return new UserManager().GetAbsenceForDate(day, Model.MonthDateTime, user.Absences);
        }

        public DateTime GetDateTimeByDay(int day)
        {
            return new DateTime(Model.MonthDateTime.Year, Model.MonthDateTime.Month, day);

        }
        bool IsPowerOfTwo(int x)
        {
            for (int i = 0; i < 50;)
            {
                i = i + 2;
                if (x == i)
                {
                    return true;
                }
            }
            return false;
        }

    }