@model ServiceGateways.Entities.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Er du sikker på at du vil slette @Model.Name?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-danger" />
            <div class="btn btn-warning">
                @Html.ActionLink("Annuller", "Index", null, new
               {
                   style = "text-decoration:none; color:white;"
               })
            </div>
        </div>
    }
</div>
