@using ServiceGateways.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/IndexSyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<body style="height: 100%">
@{ User currentUser = (User) HttpContext.Current.Session["currentUser"];}
<header class="header col-md-12">
    <div class="col-md-12" id="logo">
        <a href="/"><img src="http://eeu.dk/templates/webitallskeleton/images/dev/logo-dk.png"></a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Min Side", "Details", "Users", new {id = currentUser?.Id}, null)</li>
                <li>@Html.ActionLink("Oversigt", "Index", "Users")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header>
<div class="col-md-12 fill" style="height: 100%;">
    @RenderBody()
</div>
<hr class="col-md-12"/>
<footer class="col-md-12">
    <p>&copy; @DateTime.Now.Year - KOTLM Design</p>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
